* {
    margin: 0;
    padding: 0;
    font-family: 'noto sans kr';
}

ul {
    list-style: none;
}

.inner {
    width: 1400px;
    margin: 0 auto;
}

/* 헤더 */
.header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #e6e9f0;
    line-height: 90px;
}

.header>.inner {
    width: 1400px;
    height: 90px;
    position: relative;
}

.logo {
    width: 27px;
    height: 30px;
    float: left;
    margin-top: 6px;
}

.menu {
    position: absolute;
    width: 520px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.menu>li {
    width: 100px;
    float: left;
    text-align: center;
    float: left;
}

.top_banner {
    float: right;
}

.top_banner>li {
    float: left;
}

.one {
    width: 50px;
    height: 50px;
    background-color: #a865d0;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 5px;
}

.mainimg {
    width: 100%;
    height: 900px;
    background-image: url(../images/mainimg.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 10px;
}

/* 콘텐츠 */

.box1 {
    height: 535px;
}

.list {
    width: 25%;
    float: left;
}

.list>h1 {
    padding-bottom: 15px;
}

.list>p {
    padding-bottom: 30px;
}



.box2 {
    width: 100%;
    height: 240px;
    border-top: 1px solid #e6e9f0;
    border-bottom: 1px solid #e6e9f0;
}

.box_text {
    float: left;
    padding-top: 100px;
    font-size: 20px;
}

.box_img {
    float: right;
    padding-top: 25px;
}

.purple {
    color: #835ab2;
}

.bold {
    font-weight: bold;
}

/* 푸터 */

.footer {
    height: 100px;
}

.footer_info {
    float: left;
    font-size: 11px;
    color: #666;
    padding-top: 25px;
}

.footer_btn {
    float: right;
    padding-top: 35px;
}

.copyright {
    font-size: 13px;
    font-weight: bold;
    color: black;
}


.footer_btn>li {
    float: left;
    width: 90px;
    height: 30px;
    border: 1px solid #835ab2;
    margin-left: 7px;
    line-height: 30px;
    color: #835ab2;
    font-size: 13px;
    padding-left: 10px;
}

.none {
    border: none !important;
}

.none>select {
    width: 90px;
    height: 32px;
    border: 1px solid #acacac;
}

.down {
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 13px;
    padding-left: 48px;
    padding-top: 5px;
}

.down2 {
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 13px;
    padding-left: 22px;
    padding-top: 5px;
}